PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/guta_cosmetic_pos?replicaSet=rs0
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
RESET_TOKEN_SECRET=replace_with_another_long_random_secret
OTP_SECRET=replace_with_a_long_random_otp_secret
OTP_MODE=production
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_sender@gmail.com
SMTP_PASS=your_16_character_google_app_password
OTP_EMAIL_FROM=GUTA Cosmetic <your_sender@gmail.com>
GOOGLE_CLIENT_IDS=550502262089-4ehta6ckc0daipi9i32g5kinsd7jfi8g.apps.googleusercontent.com
